#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- NO_PERLLOCAL=1

override_dh_auto_install:
	sed -i 's/\/vendor_perl//' Makefile
	dh_auto_install
	find debian/virtualmin-config -type f -name .packlist -delete
	rm -rf debian/virtualmin-config/usr/lib
	mkdir -p debian/virtualmin-config/usr/share/webmin/virtual-server
	ln -s /usr/bin/virtualmin-config-system debian/virtualmin-config/usr/share/webmin/virtual-server/config-system.pl

override_dh_strip_nondeterminism:
